@import "./All.scss";
.img-memory {
    background-image: url("../../public/assets/image/about.jpg");
    width: 100%;
    height: 200px;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
    
    h1{
     text-align: center;
     letter-spacing: 3px;
     color: orange;
     font-weight: bolder;
    }
 }