.swiper-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.custom-swiper-menu{
    max-width: 100%;
    height: 85.5vh;
    
}

.gallery-slide-menu img{
    width: 95%;
    object-fit: cover;
}

.swiper-3d .swiper-slide-shadow-right  {
    background-image: none;
}

.swiper-3d .swiper-slide-shadow-left {
    background-image: none;
}

.custom-swiper-menu .swiper-pagination-bullet {
    background: white !important;
    /* White dots */
    opacity: 0.5;
    /* Slightly transparent */
    width: 8px;
    /* Bigger dots */
    height: 8px;
    transition: opacity 0.3s ease-in-out;
}

/* Active dot styling */
.custom-swiper-menu .swiper-pagination-bullet-active {
    background: #ffcc00 !important;
    /* Highlight active dot in yellow */
    opacity: 1;
    /* Fully visible */
    transform: scale(1.3);
    /* Slightly enlarge active dot */
}

@media (max-width:768px){
    .custom-swiper-menu {
            max-width: 100%;
            height: 85.5vh;
    
        }
    
        .gallery-slide-menu img {
            width: 90%;
            object-fit: cover;
        }
                .swiper-3d .swiper-slide-shadow-right {
                    background-image: none;
                }
        
                .swiper-3d .swiper-slide-shadow-left {
                    background-image: none;
                }
}

@media (min-width:768px) and (max-width:1024px){
    .custom-swiper-menu {
        max-width: 100%;
        height: 85.5vh;

    }

    .gallery-slide-menu img {
        width:300%;
         height: 100%;
        object-fit: cover;
    }
    //  .swiper{
    //     height: 100vh;
    //  }
  
}